/* SplashScreen.css */
.splash-bg {
    background-image: url('/Users/shelvaci/traveller-app/src/watermelon-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  